table {
    width: 100%;
    table-layout: fixed;
  }
  .c1 {
    width: 10%;
    text-align: center;
  }
  .c2 {
    width: 75%;
  }
  .c3 {
    width: 5%;
    text-align: center;
  }
  .c4 {
    width: 15%;
    text-align: center;
  }
