.headerClass {
  background-color: #3366ff;
  border-bottom-width: 0;
  border-bottom-color: #3366ff;
  color: white;
  font-size: 1.3rem;
  font-family: Open Sans, sans-serif; 
  font-weight: 700;
  line-height: 2rem;
}